body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

/* navbar */

.navbartop {
    background-color: #6b0d0d;
    padding: 10px 0;
    position: fixed; /* Perbarui */
    width: 100%;
    top: 0;
    z-index: 9999; /* Perbarui */
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 98%;
    top: 20px; /* Perbarui */
    z-index: 9999;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .navbar .logo {
    font-size: 18px;
    color: black;
    margin-left: 30px;
    font-weight: bold;
  }

  .navbar .nav-links {
    display: flex;
    align-items: center;
    margin-right: 50px;
    list-style-type: none;
  }

  .navbar .nav-links li a {
    margin: 0 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  .navbar .nav-links .btn {
    background-color: #5d0a0a;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar .nav-links .btn:hover {
    background-color: #7a0e0e;
  }

  .navbar .nav-links .theme-toggle {
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
  }

  .menu-button {
    background-color: #fff;
    margin: 20px;
  }

  #hamburger {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(9, 9, 9, 0.2);
  }

  #hamburger.active {
    background-color: #7a0e0e;
  }

/* navbar */

/* profil */
.profile-pic-1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
  }
  /* profil */
  /* navbar */
