:root {
  --dark-red-1: #5d0a0a;
  --dark-red-2: #7a0e0e;
  --dark-red-3: #6b0d0d;
  --bright-red: #d32f2f;
  --deep-red: #8b0000;
  --gray-1: #333333;
  --gray-2: #666;
  --white: #fff;
  --yellow: #f6ff00;
  --bright-blue: #03a9f4;
}
