/* navbar */

@media screen and (max-width: 376px) {
  .navbar {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .navbar .logo h1 {
    font-size: 25px;
  }

  .navbar .logo img {
    height: 30px;
    width: 30px;
  }

  #hamburger {
    display: flex;
  }

  #drawer {
    width: 180px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    z-index: 9999;

    /* Menyembunyikan #drawer -180px (sesuai ukuran drawer) ke kiri */
    transform: translateX(-180px);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    background-color: #7a0e0e;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  /*drawer dibuka */
  #drawer.open {
    transform: translateX(0);
  }

  #drawer ul {
    list-style-type: none;
    padding: 20px;
    display: inline;
    text-align: center;
  }

  #drawer li {
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
  }

  #drawer ul li a {
    color: #fff;
    font-size: 15px;
  }

  #drawer li:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-links .user {
    margin-top: 20px;
    margin-right: 11px;
  }

  .navbar #drawer .nav-links .btn {
    padding: 5px 6px;
    border: 2px solid rgb(255, 255, 255);
  }

  .navbar #drawer .nav-links .theme-toggle {
    margin: 25px;
    color: #fff;
  }

  /* agar content1 terlihat */
  .text-content {
    margin-top: 50px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1106px) {
  .navbar {
    background-color: rgba(255, 255, 255, 0.5);
  }

  #hamburger {
    display: flex;
  }

  #drawer {
    width: 180px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    z-index: 9999;

    /* Menyembunyikan #drawer -180px (sesuai ukuran drawer) ke kiri */
    transform: translateX(-180px);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    background-color: #7a0e0e;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  /*drawer dibuka */
  #drawer.open {
    transform: translateX(0);
  }

  #drawer ul {
    list-style-type: none;
    padding: 20px;
    display: inline;
    text-align: center;
  }

  #drawer li {
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
  }

  #drawer ul li a {
    color: #fff;
    font-size: 15px;
  }

  #drawer li:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-links .user {
    margin-top: 20px;
    margin-right: 11px;
  }

  .navbar #drawer .nav-links .btn {
    padding: 5px 6px;
    border: 2px solid rgb(255, 255, 255);
  }

  .navbar #drawer .nav-links .theme-toggle {
    margin: 25px;
    color: #fff;
  }

  /* agar content1 terlihat */
  .text-content {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1104px) and (max-width: 1099px) {
  #hamburger {
    display: none;
  }

  .navbar .nav-links li a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
}

@media screen and (min-width: 1099px) {
  #hamburger {
    display: none;
  }
}
/* navbar */

@media screen and (max-width: 1105px) {
  .profile-pic {
    margin-left: 67px;
  }
}

/* section 1 */
@media screen and (min-width: 870px) and (max-width: 976px) {
  .text-content {
    max-width: auto;
    margin-right: auto;
    padding: auto;
  }

  .text-content h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .text-content p {
    font-size: 14px;
    margin: 10px 0 30px;
    font-weight: 500;
  }
}

@media screen and (min-width: 490px) and (max-width: 870px) {
  .text-content {
    max-width: auto;
    margin-right: auto;
    padding: auto;
  }

  .text-content h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .text-content p {
    font-size: 13px;
    margin: 10px 0 30px;
    font-weight: 500;
  }

  .text-content .btn {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 490px) {
  .main-content1 {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container {
    display: inline;
    padding: 5px;
  }

  .text-content {
    max-width: auto;
    margin-right: auto;
    padding: auto;
  }

  .text-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text-content p {
    font-size: 15px;
    margin: 10px 0 30px;
    font-weight: 500;
  }

  .text-content .btn {
    padding: 8px 13px;
    font-size: 14px;
  }
  .image-content img {
    width: 80%;
  }
}
/* section 1 */

/* section 2 */
@media screen and (max-width: 1170px) {
  .container2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .left {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 680px) and (max-width: 888px) {
  .discount {
    position: absolute;
    width: 50%;
    top: -50px;
    right: -30px;
  }

  .box {
    height: 140px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 25px 30px;
    background-color: #5d0a0a;
    border-radius: 3%;
    padding: 25px 25px;
  }
}

@media screen and (min-width: 461px) and (max-width: 680px) {
  .discount {
    position: absolute;
    width: 50%;
    top: -50px;
    right: -30px;
  }

  .box {
    height: 150px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 25px 30px;
    background-color: #5d0a0a;
    border-radius: 3%;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 461px) {
  .left {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
  }

  .box {
    height: 210px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 20px 50px;
    background-color: #5d0a0a;
    border-radius: 3%;
    padding: 10px 25px;
  }

  .box {
    font-size: 18px;
    font-weight: 500;
  }

  .discount {
    position: absolute;
    width: 40%;
    top: -50px;
    right: -30px;
  }
}
/* section 2 */

/* section 3 */
@media screen and (max-width: 691px) {
  .main-content3 {
    display: inline;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container3 {
    display: inline;
    border-radius: 10px;
    padding: 70px;
  }

  .image img {
    width: 65%;
    height: 100%;
  }

  .content {
    align-items: center;
    padding: 30px 60px;
  }

  .content .read-more {
    padding: 8px 8px;
    font-size: 14px;
  }
}

@media screen and (min-width: 690px) and (max-width: 931px) {
  .childcontent {
    width: 30%;
  }

  .childcontent .tmbh {
    width: 70%;
    position: absolute;
    top: -60px;
    left: 200px;
  }
}

@media screen and (min-width: 518px) and (max-width: 690px) {
  .childcontent .tmbh {
    width: 50%;
    position: absolute;
    top: -60px;
    left: 190px;
  }
}

@media screen and (max-width: 518px) {
  .childcontent .tmbh {
    width: 50%;
    position: absolute;
    top: -35px;
    left: 120px;
  }
}
/* section 3 */

/* section 4 */
@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
    text-align: justify;
  }
  .button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
/* section 4 */

/* footer */
@media (max-width: 768px) {
  .childfooter h1 {
    font-size: 18px;
  }

  .childfooter img {
    width: 25px;
  }
}

@media (max-width: 480px) {
  .childfooter h1 {
    font-size: 16px;
    text-align: center;
  }

  .childfooter img {
    width: 25px;
    margin-left: 3px;
    height: 25px;
  }
}
/* footer */

/* profil */
@media screen and (max-width: 1105px) {
  .profile-pic {
    margin-left: 72px;
    margin-top: 5px;
  }
}
